
@{
    Layout = null;
}

@using UPPRB_Web.Global
@using UPPRB_Web.Controllers;
@using DataLayer;
@using UPPRB_Web.Models;
@using System.Configuration;
@{
    var hospital = GetHospitalDetail();
    var hospitalName = hospital != null ? hospital.HospitalName : "Patient Portal Management System";
    string imgsrc = "../img/p1.jpg";
    if (hospital != null && hospital.HospitalLogo != null)
    {
        var base64 = Convert.ToBase64String(hospital.HospitalLogo);
        imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @hospitalName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/App/Global/App.js"></script>
    <script src="~/Scripts/App/Global/Utility.js"></script>
    <link href="~/Content/App/Login/Login.css" rel="stylesheet" />
    @*<script src="~/Scripts/App/Login/Login.js"></script>*@
</head>
<body>
    <script type="text/javascript">
        var jsonPatient = null;
    </script>
    @{
        bool intialScreen = true;
        if (ViewData["CRData"] != null)
        {
            intialScreen = false;
        }
    }
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="width:100%">
                @Html.ActionLink(hospitalName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand blink" })
                <div style="float:right">
                    @Html.ActionLink("Login", "Index", "Home", new { area = "" }, new { @class = "navbar-brand blink" })
                </div>
            </div>
        </div>
    </div>
    <div class="main page-bg">
        <div class="container mobile-padding-lr0 ">
            <div class="col-md-8 col-md-offset-21 col-sm-12 no-padding-sm register-main">
                <div class="col-md-12 RegisterPage-container">
                    @if (Convert.ToBoolean(ViewData["success"]) == true)
                    {
                        <div class="container body-content">
                            <div id="loginContainer" class="dialog dialog-effect-in" style="width:550px">
                                <div class="dialog-front">
                                    <div class="dialog-content">
                                        <fieldset>
                                            <legend style="background-color:lightgoldenrodyellow;text-align:center;">
                                                <font style="font-size:18px">Link CR Number to portal</font><br />
                                            </legend>
                                            <font style="font-size:13px">
                                                <b>Link CR Number to portal successful</b><br />
                                                We have sent you an email along with <b>Create new password link</b>.<br />
                                                Kindly click on that link to create your password
                                            </font>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (intialScreen == true)
                        {
                            <form id="register_form" class="form-horizontal" action="CRIntegrate" method="post" autocomplete="off">
                                <h2>Already have CR Number</h2>
                                <p style="margin-bottom:0px;">Kindly Provide your CR Number to fetch detail</p>
                                <hr>
                                <div class="register-form mt10">
                                    <div class="form-group">
                                        <label for="CRNumber" class="control-label col-md-4 col-sm-12 col-xs-12"><span>CR Number<font color="FF0000">*</font></span></label>
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <input type="text" value="" name="CRNumber" required data-valid="required" class="register-input" id="CRNumber" placeholder="Enter CR Number" maxlength="20" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <input type="submit" name="CRIntegrate" class="btn btn-primary btn-blue btn-block btn-lg" value="Continue" style="float:right;width:200px;">
                                </div>
                            </form>
                        }
                        else
                        {
                            var json = (PatientInfoModel)ViewData["CRData"];
                            <script type="text/javascript">
                                @{
                                    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
                                    serializer.MaxJsonLength = Int32.MaxValue;
                                    var jsonModel = serializer.Serialize(json);
                                }
                                 jsonPatient=@Html.Raw(jsonModel);
                            </script>
                            <form id="CR_form" class="form-horizontal" action="SubmitCRDetail" method="post" autocomplete="off">
                                <h2>CR Detail</h2>
                                <p style="margin-bottom:0px;">
                                    Kindly fill your incomplete detail to proceed
                                </p>
                                <hr>
                                <div>
                                    <div class="form-group">
                                        <label for="title" class="control-label col-md-4 col-sm-12 col-xs-12">Title<font color="FF0000">*</font></label>
                                        <div class="col-md-4 col-sm-6 col-xs-6">
                                            <select id="title" class="common-input selectval" name="title" data-live-search="true">
                                                <option value="">Select</option>
                                                <option value="Mr.">Mr.</option>
                                                <option value="Mrs.">Mrs.</option>
                                                <option value="Ms.">Ms.</option>
                                                <option value="Dr.">Dr.</option>
                                                <option value="Mohd.">Mohd.</option>
                                                <option value="Miss.">Miss.</option>
                                                <option value="Master">Master</option>
                                            </select>
                                            <input type="hidden" value="@json.Title" name="title" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="FirstName" class="control-label col-md-4 col-sm-12 col-xs-12"><span>First Name<font color="FF0000">*</font></span></label>
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <input type="hidden" value="@json.FirstName" name="firstname" />
                                            <input type="text" value="@json.FirstName" name="firstname" data-valid="required" class="register-input"
                                                   id="firstname" placeholder="Enter First Name " maxlength="50" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="FirstName" class="control-label col-md-4 col-sm-12 col-xs-12"><span>Middle Name</span></label>
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <input type="text" value="@json.MiddleName" name="middlename" class="register-input" id="middlename"
                                                   placeholder="Enter Middle Name " maxlength="50" autocomplete="off">
                                            <input type="hidden" value="@json.MiddleName" name="middlename" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="LastName" class="control-label col-md-4 col-sm-12 col-xs-12"><span>Last Name<font color="FF0000">*</font></span></label>
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <input type="text" value="@json.LastName" name="lastname" data-valid="required" class="register-input" id="lastname"
                                                   placeholder="Enter LastName" maxlength="50" autocomplete="off">
                                            <input type="hidden" value="@json.LastName" name="lastname" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="FatherHusbandName" class="control-label col-md-4 col-sm-12 col-xs-12"><span>Father/Husband Name<font color="FF0000">*</font></span></label>
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <input type="text" value="@json.FatherOrHusbandName" name="FatherHusbandName" data-valid="required" class="register-input" id="FatherHusbandName"
                                                   placeholder="Enter Father/Husband Name" maxlength="100" autocomplete="off">
                                            <input type="hidden" value="@json.FatherOrHusbandName" name="FatherHusbandName" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="MaritalStatus" class="control-label col-md-4 col-sm-12 col-xs-12">Marital Status<font color="FF0000">*</font></label>
                                        <div class="col-md-4 col-sm-6 col-xs-6">
                                            <select id="MaritalStatus" class="common-input selectval" name="MaritalStatus" data-live-search="true" data-valid="required" >
                                                <option value="">Select</option>
                                                <option value="S">Single</option>
                                                <option value="M">Married</option>
                                            </select>
                                            <input type="hidden" value="@json.MaritalStatus" name="MaritalStatus" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="aadharNumber" class="control-label col-md-4 col-sm-12 col-xs-12">Aadhar Number</label>
                                        <div class="col-md-4 col-sm-6 col-xs-6">
                                            <input name="aadharNumber" id="aadharNumber" class="common-input" placeholder="Enter your Aadhar Number" minlength="12"
                                                   maxlength='12' type="text" onkeypress="return isNumber(event)" autocomplete="off">
                                            <input type="hidden" value="@json.AadharNumber" name="aadharNumber" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="control-label col-md-4 col-sm-12 col-xs-12">Email address<font color="FF0000">*</font></label>
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <input type="text" value="@json.Email" name="email" data-valid="required" class="register-input" id="email"
                                                   placeholder="Enter Email" maxlength="50" autocomplete="off" required>
                                            <input type="hidden" value="@json.Email" name="email" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile" class="control-label col-md-4 col-sm-12 col-xs-12">Mobile Number<font color="FF0000">*</font></label>
                                        <div class="col-md-4 col-sm-6 col-xs-6">
                                            <input id="mobilenumber" class="register-input" name="mobilenumber" placeholder="Enter Mobile Number"
                                                   autocomplete="off" onkeypress="return isNumber(event)" value="@json.MobileNumber" type="text" maxlength="10"
                                                   data-valid="required" data-type="phone" minlength="10" />
                                            <input type="hidden" value="@json.MobileNumber" name="mobilenumber" />
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label for="gender" class="control-label col-md-4 col-sm-12 col-xs-12">Gender<font color="FF0000">*</font></label>
                                    <div class="col-md-4 col-sm-6 col-xs-6">
                                        <select id="Gender" class="common-input selectval" name="Gender">
                                            <option value="">Select</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                        <input type="hidden" value="@json.Gender" name="Gender" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="DOB" class="control-label col-md-4 col-sm-12 col-xs-12">Date of Birth<font color="FF0000">*</font></label>
                                    <div class="col-md-4 col-sm-6 col-xs-6">
                                        <input type="date" value="@Convert.ToDateTime(json.DOB).ToString("yyyy-MM-dd")" name="DOB" data-valid="required" class="register-input"
                                               id="DOB" placeholder="Enter DOB" maxlength="50" autocomplete="off" />
                                        <input type="hidden" value="@Convert.ToDateTime(json.DOB).ToString("yyyy-MM-dd")" name="DOB" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Address" class="control-label col-md-4 col-sm-12 col-xs-12"><span>Address<font color="FF0000">*</font></span></label>
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                        <input type="text" value="@json.Address" name="address" data-valid="required" class="register-input" id="address"
                                               placeholder="Enter Address " maxlength="50" autocomplete="off" />
                                        <input type="hidden" value="@json.Address" name="address" />
                                    </div>
                                </div>
                                <div class="form-group" id="state_val">
                                    <label for="State" class="control-label col-md-4 col-sm-12 col-xs-12">State<font color="FF0000">*</font></label>
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                        <select class="common-input selectval" id="state" name="state" data-valid="required"></select>
                                        <input type="hidden" value="@json.StateId" name="state" />
                                    </div>
                                </div>
                                <div class="form-group" id="show_city">
                                    <label for="City" class="control-label col-md-4 col-sm-12 col-xs-12">City<font color="FF0000">*</font></label>
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                        <select class="common-input selectval" name="city" id="city"></select>
                                        <input type="hidden" value="@json.CityId" name="city" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Pin Code" class="control-label col-md-4 col-sm-12 col-xs-12"><span>Pin Code</span></label>
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                        <input type="text" value="@json.PinCode" name="pincode" class="register-input"
                                               id="pincode" onkeypress="return isNumber(event)"
                                               placeholder="Enter Pin Code" maxlength="6" autocomplete="off" />
                                        <input type="hidden" value="@json.PinCode" name="pincode" />
                                    </div>
                                </div>
                                <div class="form-group" id="resi_status">
                                    <label for="department" class="control-label col-md-4 col-sm-12 col-xs-12"><span>Department<font color="FF0000">*</font></span></label>
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                        <select class="common-input selectval" name="department" id="department"> </select>
                                        <input type="hidden" value="@json.DepartmentId" name="department" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Religion" class="control-label col-md-4 col-sm-12 col-xs-12">Religion<font color="FF0000">*</font></label>
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                        <select class="common-input selectval" id="religion" name="religion">
                                            <option value="">Select</option>
                                            <option value="Hindu" title="Hindu">Hindu</option>
                                            <option value="Jain" title="Jain">Jain</option>
                                            <option value="Muslim" title="Muslim">Muslim</option>
                                            <option value="Sikh" title="Sikh">Sikh</option>
                                            <option value="Christian" title="Christian">Christian</option>
                                            <option value="Spiritual" title="Spiritual">Spiritual</option>
                                            <option value="Parsi" title="Parsi">Parsi</option>
                                            <option value="Jewish" title="Jewish">Jewish</option>
                                            <option value="Buddhist" title="Buddhist">Buddhist</option>
                                            <option value="Other" title="Other">Other</option>
                                        </select>
                                        <input type="hidden" value="@json.Religion" name="religion" />
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <input type="submit" name="SubmitCRDetail" class="btn btn-primary btn-blue btn-block btn-lg" value="Continue" style="float:right;width:200px;" />
                                </div>
                            </form>
                            <script src="~/Scripts/App/Patient/CRProfile.js"></script>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <hr class="text-center navbar-fixed-bottom" />
    <footer class="text-center navbar-fixed-bottom">
        <p>&copy; @DateTime.Now.Year - Patient Portal</p>
    </footer>
    @if (TempData["Alert_Title"] != null)
    {
        <div id="dialog" title="@TempData["Alert_Title"].ToString()">
            @if (TempData["Alert_Message"] != null)
            {
                <p>@TempData["Alert_Message"].ToString()</p>
            }
            else
            {
                <p>Success..!</p>
            }
        </div>
    }


    @*Alert*@
    <div id="alertModel" style="display:none;" title="">
        <p></p>
    </div>
    <style>
        #profileimage {
            width: 120px;
            height: 150px;
            box-shadow: 3px 3px 3px #8080803b;
            border-radius: 4px;
            border: 1px solid #8080803d;
        }

        .form-group {
            margin-bottom: 6px !important;
            padding-right: 10px;
        }

            .form-group div {
                font-size: 11px;
                min-height: 15px;
                height: auto;
            }

            .form-group label {
                margin-bottom: 0px !important;
                font-weight: 550 !important;
            }

        input[type="file"] {
            display: none;
        }

        .custom-file-upload {
            cursor: pointer;
            color: brown;
            padding-top: 7px;
        }

        #filename {
            color: brown;
            font-size: smaller;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $("#dialog").dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>
</body>
</html>

