
@{
    Layout = null;
}

@using UPPRB_Web.Global
@using UPPRB_Web.Controllers;
@using DataLayer;
@using UPPRB_Web.Models.Masters;
@{
    var hospital = GetHospitalDetail();
    var hospitalName = hospital != null ? hospital.HospitalName : "Patient Portal Management System";
    string imgsrc = "../img/p1.jpg";
    if (hospital != null && hospital.HospitalLogo != null)
    {
        var base64 = Convert.ToBase64String(hospital.HospitalLogo);
        imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
    }
    List<MasterLookup> lookups = ViewData["Lookup"] as List<MasterLookup>;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @hospitalName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/dist/jquery.slide.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.slide').slide({
                'slideSpeed': 3000,
                'isShowArrow': true,
                'dotsEvent': 'mouseenter',
                'isLoadAllImgs': true
            });
        });
    </script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/App/Global/App.js"></script>
    <script src="~/Scripts/App/Global/Utility.js"></script>
    <link href="~/Content/App/Login/Login.css" rel="stylesheet" />
    <script src="~/Scripts/App/Login/PatientLogin.js"></script>
    <link rel="stylesheet" href="~/Scripts/App/index.css" />
    <link rel="stylesheet" href="~/Scripts/App/jquery.slide.css" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="width:100%;">
                <div class="row">
                    <div class="col-md-9 blink">@Html.ActionLink(hospitalName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</div>
                    <div class="col-md-3 blink hidden-xs">
                        <h5 style="color:#fff;margin-top: 15px!important;float:right;">
                            Helpline No:-
                            @{
                                string value = string.Empty;
                                var helpLineNo = lookups.Where(x => x.Name == Enums.MasterLookupEnum.HelpLineNo.ToString()).FirstOrDefault();
                                if (helpLineNo != null)
                                {
                                    value = helpLineNo.Value;
                                }
                            }
                            @value
                        </h5>
                    </div>
                </div>

                @*<div style="float:right">
                        @Html.ActionLink("Already Have CR Number", "CRIntegrate", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>*@
            </div>
        </div>
    </div>

    <div class="container1">
        @*<div class="col-md-8 col-md-offset-2 col-sm-12 no-padding-sm">*@
        <div class="col-md-12 loginpage-container">
            <div class="col-md-8 no-padding">
                <div class="col-md-12 no-padding">
                    <div class="col-md-5 no-padding loginpage-leftimg">
                        <img src="@imgsrc" class="img-responsive" alt="banner" />
                    </div>
                    <div class="col-md-7 no-padding loginpage-leftimg">
                        <img src="../img/p3.jpg" class="img-responsive" alt="banner" />
                        @*<h2 style="font-size:3vw; color: dodgerblue;">Welcome To</h2>
                            <p style="font-size:1.5vw;">Ram Manohar Lohiya Hospital<br>Lucknow</p>*@
                    </div>

                </div>
                <div class="col-md-12">
                    @*<div class="loginpage-leftimg"><img src="../img/banner-bg.jpg" class="img-responsive" alt="banner" /></div>*@
                    <div class="loginpage-leftimg no-padding">
                        <div class="slide">
                            <ul>
                                <li data-bg="../img/slider1.jpg"></li>
                                <li data-bg="../img/slider01.jpg"></li>
                                <li data-bg="../img/slider03.jpg"></li>
                                <li data-bg="../img/slider004.jpg"></li>
                                <li data-bg="../img/slider06.jpg"></li>
                                <li data-bg="../img/slider002.jpg"></li>
                                @*<li data-bg="../img/slider005.jpg"></li>*@
                                <li data-bg="../img/slider006.jpg"></li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-4 no-padding logintoggle">
                <div class="shadow">
                    <form id="login_form" class="dialog-form" action="/home/GetPatientLogin" method="POST">
                        <div class="login-page-section" style="min-height:350px;">
                            <small class="loginpage-alert lv-alert alert-success text-center" style="display:none;font-weight: 600;">
                            </small>
                            <h3 style="text-align:center;font-size:18px;font-weight:700;color:#434142">Login to Patient Portal Account</h3>
                            <p style="text-align:center;font-size:13px;font-weight:normal;color:#888888">
                                If you have already CR No. then
                                <a href="/Home/CRIntegrate" id="showforgotpass">CLICK HERE</a>
                            </p>
                            <hr />
                            <div class="left">
                                <div class="form-group">
                                    <label for="user_username" class="control-label">Registration No.:</label>
                                    <input type="text" id="user_username" class="form-control" name="username" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus />
                                </div>
                                <div class="form-group">
                                    <label for="user_password" class="control-label">Password:</label>
                                    <input type="password" id="user_password" class="form-control" name="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login" style="float:left;">
                                </div>
                                <div class="login-forgot-link" style="">
                                    <ul class="list-inline">
                                        <li><a href="/Home/ForgetPassword" id="showforgotpass">Forgot Password?</a></li>
                                        <li><a href="/Home/ForgetUserID" id="showforgotpass1">Forgot User Id?</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="login-page-register-section" style="">
                        <p class="blinkfont">Don't have an account?</p>
                        <div class="form-group">
                            <div class="src_field_box">
                                <!--<a href="../home/Register" id="registerBTN" class="btn btn-lg btn-blue btn-block ripplelink"> NEW REGISTRATION </a>-->
                                <a href="#" id="registerBTN" class="btn btn-lg btn-blue btn-block ripplelink"> NEW REGISTRATION </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container1">
        <div class="col-md-12">
            <div style="background:#d3d7e6; height:52px;width:101%;">
                <div class="col-md-2">
                    @*<a href="https://drrmlims.ac.in/OPDSchedules.php" target="_blank" class="btn btn-lg btn-dark btn-block ripplelink"> OPD SCHEDULE </a>*@
                    <a href="https://drrmlims.ac.in/OPDSchedules.php" target="_blank"> <img src="~/img/click.gif" class="img-responsive" style="height:48px;width:220px;" /></a>
                </div>
                <div class="col-md-6 hidden-xs">
                    <marquee behavior="scroll" onMouseOver="this.setAttribute('scrollamount', 0, 0);this.stop();"
                             OnMouseOut="this.setAttribute('scrollamount', 2, 0);this.start();" direction="left" scrollamount="3" scrolldelay="1">
                        @*@{
                    UPPRB_Web.Models.PDModel pdmodel;
                    string totOPD = "0000";
                    string totIPD = "0000";
                    string total = "0000";
                    if (ViewData["PDDetail"] != null)
                    {
                        pdmodel = ViewData["PDDetail"] as UPPRB_Web.Models.PDModel;
                        totOPD = pdmodel.totOPD;
                        totIPD = pdmodel.totIPD;
                        total = Convert.ToString(Convert.ToInt32(pdmodel.totOPD) + Convert.ToInt32(pdmodel.totIPD));
                    }
                }*@
                        <div align="left">
                            <a href="#" target="_parent" style="float:left;margin-left:10px; margin-top: 15px;color:#000;">
                                No. of OPD: <span style="color:#953b39;" id="TotalOPDText">
                                    @*@totOPD*@
                                </span>
                                || No.of IN Patient: <span style="color:#953b39;" id="TotalIPDText">
                                    @*@totIPD*@
                                </span>
                                || No.Of Total Patient:
                                <span style="color:#953b39;" id="TotalPatientText">
                                    @*@total*@
                                </span>
                            </a>
                        </div>
                    </marquee>
                </div>
                <div class="col-md-2">
                    <a href="../home/TempRegister" id="registerBTN" class="btn btn-lg btn-blue btn-block ripplelink" style="height:40px;width:204px; margin-top: 6px;">Temporary Registration</a>
                </div>
                <div class="col-md-2">
                    @*<a href="https://drrmlims.ac.in/OPDSchedules.php" target="_blank" class="btn btn-lg btn-dark btn-block ripplelink"> OPD SCHEDULE </a>*@
                    <a href="http://drrmlimsonline.in/onlinereport/" target="_blank"> <img src="~/img/report.png" class="img-responsive" style="height:48px;width:180px; margin-top: 3px;" /></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container1">
        <div class="col-md-12">
            <div class="col-sm-8" id="tohide">
                <hr />

                <div class="col-md-12 shadow">
                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sama">
                        @*<div class="moto-widget-text-content moto-widget-text-editable">
                                <br />
                                <div class="col-sm-12">
                                    <h4> <strong>The institute has presently following specialties:-</strong></h4>
                                    <br>
                                    <div id="divDepartments">

                                    </div>
                                </div>
                            </div>*@
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <p class="moto-text_system_10" style="float:left; text-align:justify">
                                    The <strong>Dr. Ram Manohar Lohia Institute of Medical Sciences (Dr. RMLIMS)</strong>, Lucknow is a super specialty hospital and one of the reputed and leading teaching Institutes established by the Government of Uttar Pradesh. Dr. RMLIMS is situated in Vibhuti Khand in Gomti Nagar locality of Lucknow. Besides super specialty treatment,the institute  provides DM, MCh, MD,MS, and Ph.D. Degrees.<br />
                                    <strong style="color: #0199CD;">Other facilities:-</strong><br />
                                    <strong>1.</strong>  It would provide holistic medical care including general care in various general,medical / surgical specialities, and in selected super specialities which are not available or grossly inadequate in this region.<br />
                                    <strong>2.</strong>  To create a center of excellence for providing patient care and educational facilities of high order.<br />
                                    <strong>3.</strong>  To provide training in para medical and allied fields.<br />
                                    <strong>4.</strong>  Patient care,educational training and research facilities will be comlementary to SGPGIMS.<br />
                                    <strong>5.</strong>  The medical Institute, with public service hospital will cater both to the poor patients who are unable to pay and to the population that has the capacity to pay on user charges at 'no profit no loss' basis.<br />
                                    <strong>6.</strong>  It will act as a secondary level as well as a selected tertiary level referral center for the poor population of this region at affordable cost.<br />
                                    <strong>7. OPD Pharmacy</strong> for drugs and medical consumables for registered patients ONLY.<br />
                                    <strong>8. PRA (Patients Relative’s Accommodation):</strong> This accommodation is available to relatives of patients admitted to the hospital, on payment basis.<br />
                                    <strong>9. Vishramalaya:</strong> This day-time facility is available for patients and relatives visiting the outpatient department, on a nominal payment (7AM to 7PM). The facility includes lockers, a place to relax, a restaurant, bathrooms, toilets, etc.<br />
                                    <strong>10. Cafeteria</strong> in hospital area for snacks and lunch.
                                </p>
                                <!--<div class="clearfix"></div>-->
                            </div>
                            <div class="moto-widget-text-content moto-widget-text-editable">
                                <br />
                                <div class="col-sm-12">
                                    <h4> <strong>The institute has presently following specialties:-</strong></h4>
                                    <br>
                                    <div id="divDepartments">

                                    </div>
                                </div>
                            </div><br />
                        </div>

                        <div class="content">
                        </div>
                    </div>
                </div>
                <br />
                <br />

            </div>

            <div class="col-md-4">
                <hr />
                <div class="shadow">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="active">
                                <table class="table table-bordered table-condensed">

                                    <tbody>
                                        <tr class="primary"><td colspan="3" style="text-align:center;"><strong>Important contact number for Information:- </strong></td></tr>
                                        <tr>
                                            <td><strong style="color: #0199CD; font-style:italic;">Helpline No. </strong></td>
                                            <td>
                                                @{
                                                    value = string.Empty;
                                                    helpLineNo = lookups.Where(x => x.Name == Enums.MasterLookupEnum.HelpLineNo.ToString()).FirstOrDefault();
                                                    if (helpLineNo != null)
                                                    {
                                                        value = helpLineNo.Value;
                                                    }
                                                }
                                                @value
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><strong style="color: #0199CD;font-style:italic;">OPD No.</strong></td>
                                            <td>
                                                @{
                                                    value = string.Empty;
                                                    helpLineNo = lookups.Where(x => x.Name == Enums.MasterLookupEnum.OPDNo.ToString()).FirstOrDefault();
                                                    if (helpLineNo != null)
                                                    {
                                                        value = helpLineNo.Value;
                                                    }
                                                }
                                                @value
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><strong style="color: #0199CD;font-style:italic;">Administrative Block Ph.No.</strong></td>
                                            <td>
                                                @{
                                                    value = string.Empty;
                                                    helpLineNo = lookups.Where(x => x.Name == Enums.MasterLookupEnum.AdministrativeBlockPhNo.ToString()).FirstOrDefault();
                                                    if (helpLineNo != null)
                                                    {
                                                        value = helpLineNo.Value;
                                                    }
                                                }
                                                @value
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><strong style="color: #0199CD;font-style:italic;">Fax No.</strong></td>
                                            <td>
                                                @{
                                                    value = string.Empty;
                                                    helpLineNo = lookups.Where(x => x.Name == Enums.MasterLookupEnum.FaxNo.ToString()).FirstOrDefault();
                                                    if (helpLineNo != null)
                                                    {
                                                        value = helpLineNo.Value;
                                                    }
                                                }
                                                @value
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><strong style="color: #0199CD;font-style:italic;">Mailing Address</strong></td>
                                            <td>
                                                @{
                                                    value = string.Empty;
                                                    helpLineNo = lookups.Where(x => x.Name == Enums.MasterLookupEnum.MailingAddress.ToString()).FirstOrDefault();
                                                    if (helpLineNo != null)
                                                    {
                                                        value = helpLineNo.Value;
                                                    }
                                                }
                                                @value
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong style="color: #0199CD;font-style:italic;">Website</strong></td>
                                            <td>
                                                @{
                                                    value = string.Empty;
                                                    helpLineNo = lookups.Where(x => x.Name == Enums.MasterLookupEnum.Website.ToString()).FirstOrDefault();
                                                    if (helpLineNo != null)
                                                    {
                                                        value = helpLineNo.Value;
                                                    }
                                                }
                                                <a href="" target="_blank">
                                                    @value
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong style="color: #0199CD;font-style:italic;">E-Mail</strong></td>
                                            <td>
                                                @{
                                                    value = string.Empty;
                                                    helpLineNo = lookups.Where(x => x.Name == Enums.MasterLookupEnum.EMail.ToString()).FirstOrDefault();
                                                    if (helpLineNo != null)
                                                    {
                                                        value = helpLineNo.Value;
                                                    }
                                                }
                                                <a href="mailto:@value">@value</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="blogSidebar">
                        <div class="panel panel-default">
                            <div class="panel-heading">Patient Portal Features</div>
                            <div class="panel-body">
                                <p><img src="~/img/arrow.png" /> Online Registration</p>
                                <p><img src="~/img/arrow.png" /> Dash Board</p>
                                <p><img src="~/img/arrow.png" /> Electronic Medical Record (EMR)</p>
                                <p><img src="~/img/arrow.png" /> Book/Cancel Doctor Appointment</p>
                                <p><img src="~/img/arrow.png" /> Patient Visit Summary</p>
                                <p><img src="~/img/arrow.png" /> Patient Profile</p>
                                <p><img src="~/img/arrow.png" /> Lab/Billing Reports</p>
                                <p><img src="~/img/arrow.png" /> Patient Accounts Statement</p>
                                <p><img src="~/img/arrow.png" /> Make Payment</p>
                                <p><img src="~/img/arrow.png" /> OPD Schedule</p>
                                @*<ul class="list-unstyle categoryList">
                                        <li><a><img src="~/img/arrow.png" /> Online Registration</a></li>
                                        <li><a><img src="~/img/arrow.png" /> Dash Board</a></li>
                                        <li><a><img src="~/img/arrow.png" /> Electronic Medical Record (EMR)</a></li>
                                        <li><a><img src="~/img/arrow.png" /> Book/Cancel Doctor Appointment</a></li>
                                        <li><a><img src="~/img/arrow.png" /> Patient Visit Summary</a></li>
                                        <li><a><img src="~/img/arrow.png" /> Patient Profile</a></li>
                                        <li><a><img src="~/img/arrow.png" /> Lab/Billing Reports</a></li>
                                        <li><a><img src="~/img/arrow.png" /> Duplicate Receipts</a></li>
                                        <li><a><img src="~/img/arrow.png" /> Patient Accounts Statement</a></li>
                                        <li><a><img src="~/img/arrow.png" /> Make Payment</a></li>
                                        <li><a><img src="~/img/arrow.png" /> OPD Schedule</a></li>

                                    </ul>*@
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <hr class="text-center navbar-fixed-bottom" />
    <footer class="text-center navbar-fixed-bottom">
        <div class="col-md-9">
            <p>
                Powered by Uptron Powertronics Limited (Undertaking of Government) &copy; @DateTime.Now.Year - Patient Portal || Total Number of visitors: @ApplicationInstance.Application["Totaluser"]
                <!--Online Visitors:<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/433806/t/5"></script>-->
            </p>
        </div>
        <div class="col-md-3">
            <table width="235" border="0" cellpadding="1" cellspacing="0" title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications."><tr><td width="235" align="center" valign="top">
            <script type="text/javascript" src="https://seal.websecurity.norton.com/getseal?host_name=www.drrmlimsonline.in&amp;size=M&amp;use_flash=NO&amp;use_transparent=Yes&amp;lang=en"></script><br /><a href="https://www.websecurity.symantec.com/ssl-certificate" target="_blank" style="color:#000000; text-decoration:none; font:bold 10px verdana,sans-serif; letter-spacing:.5px;text-align:center; margin:0px; padding:0px;"> ABOUT SSL CERTIFICATES</a></td></tr></table>
        </div>
    </footer>
    
    @if (TempData["Alert_Title"] != null)
    {
        <div id="dialog" title="@TempData["Alert_Title"].ToString()">
            @if (TempData["Alert_Message"] != null)
            {
                <p>@TempData["Alert_Message"].ToString()</p>
            }
            else
            {
                <p>Success..!</p>
            }
        </div>
    }
    <div id="alertModel" style="display:none;" title="">
        <p></p>
    </div>


</body>
</html>

