@using UPPRB_Web.Models.Masters;
@{
    ViewBag.Title = "PhotoGallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var noticeData = ViewData["NoticeData"] as List<NoticeModel>;
    var noticeType = ViewData["NoticeType"] as List<NoticeTypeModel>;
}

<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">
            @Html.Partial("_Galary_SideMenu", noticeType)
            <div class="col-lg-10 w_content pt-20 mt-0">
                <h2 class="w-bgph ">Photo Gallery</h2>
                <hr>
                <div class="clr"></div>
                <div>
                    <span id="DataList1" class="row" EmptyDataText="Empty">
                        @foreach (var item in noticeData)
                        {
                            <span class="col-md-3">
                                <div style="height:160px; overflow:hidden; border: 1px solid #CCCCCC; margin-bottom:10px;">
                                    <div style="text-align: center; background-color: #F8F8F8;  padding: 0px; margin: 5px; height: 120px; width:100%; overflow:hidden; ">
                                        @if (!string.IsNullOrEmpty(item.filename))
                                        {
                                            <img title="@item.Subject" src="~/FilesUploaded/PhotoGalary/@item.filename" style="max-width:100%;max-height:100%">
                                        }
                                        else
                                        {
                                            <img title="@item.Subject" src="@item.fileURL" style="max-width:100%;max-height:100%">
                                        }
                                    </div>
                                    <a id="LinkButton" href="#" style=" margin-left: 3%;">@item.NoticeTypeName</a>
                                </div>
                            </span>
                        }
                        <br />
                    </span>

                </div>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/PhotoGallery"]').parent().addClass('active')
    });
</script>