
@{
    Layout = null;
}

@using UPPRB_Web.Global
@using UPPRB_Web.Controllers;
@using DataLayer;
@{
    var hospital = GetHospitalDetail();
    var hospitalName = hospital != null ? hospital.HospitalName : "Patient Portal Management System";
    string imgsrc = "../img/p1.jpg";
    if (hospital != null && hospital.HospitalLogo != null)
    {
        var base64 = Convert.ToBase64String(hospital.HospitalLogo);
        imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @hospitalName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/App/Global/App.js"></script>
    <script src="~/Scripts/App/Global/Utility.js"></script>
    <link href="~/Content/App/Login/Login.css" rel="stylesheet" />
    <script src="~/Scripts/App/Login/Login.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="width:100%">
                @Html.ActionLink(hospitalName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand blink" })

                <div style="float:right">
                    @Html.ActionLink("Login", "Index", "Home", new { area = "" }, new { @class = "navbar-brand blink" })
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="loginContainer" class="dialog dialog-effect-in" style="width:420px">
            <div class="dialog-front">
                <div class="dialog-content">
                    <form id="login_form" class="dialog-form" action="/home/ResetPassword" method="POST">
                        <fieldset>
                            <legend style="background-color:lightgoldenrodyellow;text-align:center;">
                                <font style="font-size:18px">Reset Your Password</font><br />
                                <font style="font-size:13px">
                                    Create your password against your registration
                                </font>
                            </legend>

                            <div class="form-group">
                                <label for="password" class="control-label">Password:</label>
                                <input type="password" id="password" class="form-control" name="password" autofocus  required/>
                            </div>
                            <div class="form-group">
                                <label for="confirmpassword" class="control-label">Confirm Password:</label>
                                <input type="password" id="confirmpassword" class="form-control" name="confirmpassword" required />
                                <input type="hidden" id="resetCode" class="form-control" name="resetCode" value="@Convert.ToString(ViewData["resetCode"])" />
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-block btn-lg" value="Create Password" style="float:right;width:200px;">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="text-center navbar-fixed-bottom" />
    <footer class="text-center navbar-fixed-bottom">
        <p>&copy; @DateTime.Now.Year - Patient Portal</p>
    </footer>
    @if (TempData["Alert_Title"] != null)
    {
        <div id="dialog" title="@TempData["Alert_Title"].ToString()">
            @if (TempData["Alert_Message"] != null)
            {
                <p>@TempData["Alert_Message"].ToString()</p>
            }
            else
            {
                <p>Success..!</p>
            }
        </div>
    }


    @*Alert*@
    <div id="alertModel" style="display:none;" title="">
        <p></p>
    </div>
</body>
</html>

