@using UPPRB_Web.Global
@using UPPRB_Web.Infrastructure.Utility;
@using UPPRB_Web.Infrastructure.Authentication;
@using DataLayer;
@using UPPRB_Web.Controllers;
@using UPPRB_Web.Global;
@using System.Data.Entity;
@{
    var hospital = GetHospitalDetail();
    var hospitalName = hospital != null ? hospital.HospitalName : "Patient Portal Management System";
    string imgsrc = "../img/p1.jpg";
    if (hospital != null && hospital.HospitalLogo != null)
    {
        var base64 = Convert.ToBase64String(hospital.HospitalLogo);
        imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
    }
    WebSession.HospitalLogo = imgsrc;

    var patientinfo = GetPatientInfo();
    var patientOPDInfo = GetPatientOPDDetail();
    string photoSrc = string.Empty;
    string daysRemaning = string.Empty;
    bool showingDaysRemaining = false;
    bool showingAppointmentAlert = false;
    var Appointments = patientinfo.AppointmentInfoes.Where(y => y.AppointmentDateFrom.Date > DateTime.Now.Date).FirstOrDefault();
    if (patientinfo != null && patientinfo.Gender == "Male")
    {
        photoSrc = "../img/avatar-male.jpg";
    }
    else
    {
        photoSrc = "../img/avatar-female.png";
    }
    if (patientinfo != null && patientinfo.Photo != null && patientinfo.Photo.Length > 0)
    {
        var base64 = Convert.ToBase64String(patientinfo.Photo);
        photoSrc = string.Format("data:image/jpg;base64,{0}", base64);
    }
    if (patientinfo != null && patientinfo.ValidUpto != null)
    {
        daysRemaning = Convert.ToString((patientinfo.ValidUpto.Value.Date - DateTime.Now.Date).TotalDays);
        if (Convert.ToInt32(daysRemaning) <= 10)
        {
            //showingDaysRemaining = true;
        }
    }
    if (Appointments != null)
    {
        daysRemaning = Convert.ToString((Appointments.AppointmentDateFrom.Date - DateTime.Now.Date).TotalDays);
        if (Convert.ToInt32(daysRemaning) <= 1)
        {
            showingAppointmentAlert = true;
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@hospitalName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/boxstyle.css" rel="stylesheet" />
    <script src="~/Scripts/App/Global/App.js"></script>
    <script src="~/Scripts/App/Global/Utility.js"></script>
    <link href="~/Content/App/Login/Login.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/App/index.css" />
    <link rel="stylesheet" href="~/Scripts/App/jquery.slide.css" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/hoe.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/hoe-horizontal-navigation.css" rel="stylesheet" />
    <link href="~/Content/header.css" rel="stylesheet" />
    <link href="~/Content/hoe-overlay-effect.css" rel="stylesheet" />
    <link href="~/Content/hoe-push-effect.css" rel="stylesheet" />
    <link href="~/Content/hoe-rightsidebar.css" rel="stylesheet" />
    <link href="~/Content/hoe-shrink-effect.css" rel="stylesheet" />
    <link href="~/Content/hoe-theme-color.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <script>
        $(function () {
            //$('.dropdown-toggle').click(function () {
            //    $('.hoe-header-profile').toggleClass('open');
            //});
            $('.hoe-sidebar-toggle').click(function () {
                if ($('#hiddenToggle').val() == "No") {
                    $('body').attr('hoe-navigation-type', 'vertical');
                    $('#hoe-header').removeClass('hoe-minimized-lpanel')
                    $('#hoeapp-container').removeClass('hoe-minimized-lpanel');
                    $('#hiddenToggle').val("Yes");
                }
                else {
                    $('body').attr('hoe-navigation-type', 'vertical-compact');
                    $('#hoe-header').addClass('hoe-minimized-lpanel');
                    $('#hoeapp-container').addClass('hoe-minimized-lpanel');
                    $('#hiddenToggle').val("No");
                }
            });
        });
    </script>
    <input type="hidden" id="hiddenToggle" value="Yes" />
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container1">
            <div class="navbar-header" style="width:100%;">
                <div class="row">
                    <div class="col-md-8" style="font-family:Georgia !important;">@Html.ActionLink(hospitalName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</div>
                    <div class="col-md-4 hidden-xs"><h5 style="color:#fff;float:right;font-family:Georgia !important;">Helpline No:- 0522-6663002</h5></div>
                </div>

                @*<div style="float:right">
                        @Html.ActionLink("Already Have CR Number", "CRIntegrate", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>*@
            </div>
        </div>
    </div>
    @if ((User as CustomPrincipal) != null)
    {

        <header id="hoe-header" hoe-lpanel-effect="shrink">
            <div class="hoe-left-header">
                <a href="#" style="float:left;padding-left:10px;"><i class="fa fa-plus-square"></i> <span>Patient Portal</span></a>
                <span class="hoe-sidebar-toggle"><a href="#"></a></span>
            </div>

            <div class="hoe-right-header" hoe-position-type="relative">
                <span class="hoe-sidebar-toggle"><a href="#"></a></span>
                @if (showingDaysRemaining)
                {
                    <div class="col-md-12">
                        <div class="renewtext">
                            <div class="row">
                                <div class="col-md-11 hidden-xs" style="white-space:nowrap">
                                    <h4>
                                        Your Registration will expired in @daysRemaning days
                                    </h4>
                                </div>
                            </div>

                        </div>
                    </div>
                }
                @if (showingAppointmentAlert)
                {
                    <div class="col-md-12">
                        <div class="renewtext">
                            <div class="row">
                                <div class="col-md-11 hidden-xs" style="white-space:nowrap">
                                    <h4>
                                        Your Appointment is Scheduled on @Appointments.AppointmentDateFrom.ToShortDateString() at @Appointments.AppointmentDateFrom.ToShortTimeString()
                                    </h4>
                                </div>
                            </div>

                        </div>
                    </div>
                }
                <ul class="right-navbar">
                    <li class="dropdown hoe-rheader-submenu hoe-header-profile">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size:12px;">
                            <span><img class="img-circle " src="@photoSrc"></span>
                            <span>@((User as CustomPrincipal).FirstName) @((User as CustomPrincipal).MiddleName) @((User as CustomPrincipal).LastName)<i class=" fa fa-angle-down"></i></span>
                        </a>
                        <ul class="dropdown-menu ">
                            @{
                                var appointment = GetAppointmentDetail();
                                if (appointment.LastAppointment != null)
                                {
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-calendar"></i>Last Appointment date is @appointment.LastAppointment.AppointmentDateFrom.ToShortDateString()
                                        </a>
                                    </li>
                                }
                            }
                            <li><a href="~/Home/MyProfile"><i class="fa fa-user"></i>My Profile</a></li>
                            <li><a href="~/Home/ChangePassword"><i class="fa fa-lock"></i>Change Password</a></li>
                            <li>
                                <a href="~/Appointment/PatientProfile">
                                    <i class="fa fa-calendar"></i>My Appointment <span class="badge badge-success">
                                        @appointment.AppointmentCount
                                    </span>
                                </a>
                            </li>
                            <li><a href="~/Home/Logout"><i class="fa fa-power-off"></i>Logout</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </header>
        <div id="hoeapp-container" hoe-color-type="lpanel-bg2" hoe-lpanel-effect="shrink">
            <aside id="hoe-left-panel" hoe-position-type="absolute" style="z-index: 0;">
                <div class="profile-box">
                    <div class="media">
                        <a class="pull-left" href="~/Home/MyProfile">
                            <img class="img-circle" src="@photoSrc">
                        </a>
                        <div class="media-body">
                            <h5 class="media-heading" style="color:#DAF7A6;"><span>@((User as CustomPrincipal).FirstName) @((User as CustomPrincipal).MiddleName) @((User as CustomPrincipal).LastName)</span></h5>
                            <small style="color:#8C001A;">
                                Reg. No.:
                                @if (!string.IsNullOrEmpty(patientinfo.CRNumber))
                                {
                                    @patientinfo.CRNumber
                                }
                                else
                                {
                                    @patientinfo.RegistrationNumber
                                }
                            </small>
                            <br />
                            @{

                                string color = patientOPDInfo != null && @Convert.ToString(patientOPDInfo.patStatus) == "Admitted" ? "red" : "lime";
                                <small style="color:@color">
                                    @if (@patientOPDInfo != null && @Convert.ToString(patientOPDInfo.patStatus) == "Admitted")
                                    {
                                        <text>Admitted</text>
                                    }
                                    else
                                    {
                                        <text>Not Admitted</text>
                                    }
                                </small>
                            }

                            <br /><small style="color:#ffd800;">
                                Current Balance Rs:
                                @if (patientOPDInfo != null)
                                {
                                    @Math.Round(Convert.ToDecimal(patientOPDInfo.CurrBal), 2);
                                }
                                else
                                {
                                    @Math.Round(Convert.ToDecimal("0.00"), 2);
                                }
                            </small>
                        </div>
                    </div>
                </div>
                <ul class="nav panel-list">
                    <li class="active">
                        <a href="~/Home/Dashboard">
                            <i class="fa fa-tachometer"></i>
                            <span class="menu-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="hoe-has-menu">
                        <a href="javascript:void(0)">
                            <i class="fa fa-bar-chart"></i>
                            <span class="menu-text">EMR</span>
                        </a>
                        <ul class="hoe-sub-menu">
                            <li>
                                <a href="~/Appointment/PatientProfile">
                                    <span class="menu-text">Patient Visit Summary</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Report/DischargeSummary">
                                    <span class="menu-text">Discharge Print</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/Appointment/GetAppointments">
                            <i class="fa fa-bar-chart"></i>
                            <span class="menu-text">Book Appointments</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Appointment/CancellationAppointment">
                            <i class="fa fa-bar-chart"></i>
                            <span class="menu-text">Cancellation of Appointment</span>
                        </a>
                    </li>
                    <li class="hoe-has-menu">
                        <a href="javascript:void(0)">
                            <i class="fa fa-bar-chart"></i>
                            <span class="menu-text">Report</span>
                        </a>
                        <ul class="hoe-sub-menu">
                            <li>
                                <a href="/Report/ReportViewing">
                                    <span class="menu-text">Patient Diganostic Reports</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Report/GetBillingReport">
                                    <span class="menu-text">Billing Report</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="hoe-has-menu">
                        <a href="javascript:void(0)">
                            <i class="fa fa-bar-chart"></i>
                            <span class="menu-text">Account Statement</span>
                        </a>
                        <ul class="hoe-sub-menu">
                            <li>
                                <a href="~/Report/PatientLedger">
                                    <span class="menu-text">Ledger Report</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    @if ((@patientOPDInfo != null && @Convert.ToString(patientOPDInfo.patStatus) == "Admitted") || showingDaysRemaining)
                    {
                    <li>
                        <!--<a href="~/Home/MakePayment">-->
                        <a class="isDisabled" href="javascript:void(0)">
                            <i class="fa fa-bar-chart"></i>
                            <span class="menu-text">Make Payment</span>
                            <span class="label sul">New</span>
                        </a>
                    </li>
                    }
                    else
                    {
                        <li>
                            <a class="isDisabled" href="javascript:void(0)">
                                <i class="fa fa-bar-chart"></i>
                                <span class="menu-text">Make Payment</span>
                                <span class="label sul">New</span>
                            </a>
                        </li>
                    }
                    <li>
                        <a href="/Report/PaymentReciept">
                            <i class="fa fa-bar-chart"></i>
                            <span class="menu-text">Duplicate Receipts</span>
                            <span class="label sul">New</span>
                        </a>
                    </li>
                   
                </ul>
            </aside>
            <section id="main-content" style="width:77%">
                @RenderBody()
            </section>
        </div>
        <div class="container body-content">

        </div>
        <hr class="text-center navbar-fixed-bottom" />
        <footer class="text-center navbar-fixed-bottom">
            <div class="col-md-9">
                <p>
                    Powered by Uptron Powertronics Limited (Undertaking of Government) &copy; @DateTime.Now.Year - Patient Portal || Total Number of visitors: @ApplicationInstance.Application["Totaluser"]
                    <!--Online Visitors:<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/433806/t/5"></script>-->
                </p>
            </div>
            <div class="col-md-3">
                <table width="235" border="0" cellpadding="1" cellspacing="0" title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.">
                    <tr>
                        <td width="235" align="center" valign="top">
                            <script type="text/javascript" src="https://seal.websecurity.norton.com/getseal?host_name=www.drrmlimsonline.in&amp;size=M&amp;use_flash=NO&amp;use_transparent=Yes&amp;lang=en"></script><br /><a href="https://www.websecurity.symantec.com/ssl-certificate" target="_blank" style="color:#000000; text-decoration:none; font:bold 10px verdana,sans-serif; letter-spacing:.5px;text-align:center; margin:0px; padding:0px;"> ABOUT SSL CERTIFICATES</a>
                        </td>
                    </tr>
                </table>
            </div>
        </footer>
    }
    @if (TempData["Alert_Title"] != null)
    {
        <div id="dialog" title="@TempData["Alert_Title"].ToString()">
            @if (TempData["Alert_Message"] != null)
            {
                <p>@TempData["Alert_Message"].ToString()</p>
            }
            else
            {
                <p>Success..!</p>
            }
        </div>
    }


    @*Alert*@
    <div id="alertModel" style="display:none;" title="">
        <p></p>
    </div>

    <script>
        $(document).ready(function () {
            $('li.active').removeClass('active');
            $('#hoeapp-container a[href]').each(function (ind, ele) {
                if ($(ele).attr('href').toLowerCase().indexOf(location.pathname.toLowerCase()) > -1) {
                    $(ele).parent().addClass('active');
                    $(ele).prepend('<span class="selected"></span>');
                    if ($(ele).parent().parent().parent().prop('class') == 'hoe-has-menu')
                        $(ele).parent().parent().show();
                }
            });

            $('.hoe-sub-menu').parent().click(function () {
                var ul = $(this).find('.hoe-sub-menu');
                if ($(ul).is(':visible'))
                    $(ul).hide();
                else
                    $(ul).show();
            });
        });

        $(function () {
            $("#dialog").dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>

    <div class="ajaxloader">
        <img class="" src="~/img/ajax-loader.gif" />
    </div>
    <style>
        .blink h5 {
            margin-top: 0px;
        }

        .ajaxloader {
            background: #808080a3;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: none;
            z-index: 99999999;
        }

            .ajaxloader img {
                width: 80px;
                height: 80px;
                position: absolute;
                top: 43%;
                left: 45%;
            }

        a {
            text-decoration: none !important;
        }
    </style>
</body>
</html>
