
@{
    ViewBag.Title = "LabReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DataLayer
<div class="row" style="margin-top:50px;">
    <div class="col-sm-12 col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Send Message To Patient
            </div>
            <div class="panel-body" style="overflow: auto;">
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label>Enter Message</label>
                            <div>
                                <textarea type="text" id="message" class="form-control" name="message" autofocus value=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <div>
                                <input type="submit" class="btn btn-primary form-control" id="btnSend" value="Send Message" />
                            </div>
                        </div>
                    </div>
                </div>
                @{
                    var patients = ViewData["PatientInfo"] as List<PatientInfo>;
                    int index = 1;
                    if (patients != null && patients.Any())
                    {
                        <div class="table table-responsive">
                            <table class="table table-bordered table-hover table-responsive text-center" id="patientTable">
                                <thead>
                                    <tr>
                                        <th class="hidden"></th>
                                        <th><input type="checkbox" id="selectAll" checked /></th>
                                        <th style="width:6%">Sr. No.</th>
                                        <th>Registration No</th>
                                        <th>Name</th>
                                        <th>Father/Husband</th>
                                        <th>Deaprtment</th>
                                        <th>Email</th>
                                        <th>Mobile Number</th>
                                        <th>Gender</th>
                                        <th>Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var patient in patients)
                                    {
                                        <tr>
                                            <td class="hidden">@patient.PatientId</td>
                                            <td>
                                                <input type="checkbox" id="select" checked />
                                            </td>
                                            <td>@index</td>
                                            <td>@patient.RegistrationNumber</td>
                                            <td>@patient.FirstName @patient.MiddleName @patient.LastName</td>
                                            <td>@patient.FatherOrHusbandName</td>
                                            <td>@patient.Department.DepartmentName</td>
                                            <td>@patient.Email</td>
                                            <td>@patient.MobileNumber</td>
                                            <td>@patient.Gender</td>
                                            <td>@patient.Address</td>
                                        </tr>
                                        index = index + 1;
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <span>No record found</span>
                    }
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#btnSend').click(function () {
        var patientIds = '';
        $.each($('#patientTable tbody tr'), function (index, row) {
            var hasCheck = $(row).find('td').eq(1).find('input').prop('checked');
            if (hasCheck) {
                var pateintId = $(row).find('td').eq(0).html();
                patientIds += pateintId + ",";
            }
        });
        patientIds = patientIds.substring(0, patientIds.length - 1);
        var registrationJson = {
            message: $('#message').val(),
            patientIds: patientIds
        }
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/Masters/SendMessageToPatient',
            async: true,
            data: JSON.stringify(registrationJson),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                saveFiles();
            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    })
    $('#selectAll').change(function () {
        var hasChecked = $(this).prop('checked');
        if (hasChecked) {
            $.each($('#patientTable tbody tr'), function (index, row) {
                $(row).find('td').eq(1).find('input').prop('checked', true);
            });
        }
        else {
            $.each($('#patientTable tbody tr'), function (index, row) {
                $(row).find('td').eq(1).find('input').prop('checked', false);
            });
        }
    });
</script>

<style>
    #patientTable th {
        white-space: nowrap;
    }
</style>